body {
	background-color: #f2f2f2;
}

.App {
	position: relative;
}

.App-logo {
	margin-top: 1em;
}

.App-header {
	background-color: #f2f2f2;
	height: 150px;
	padding: 20px;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
